<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/978-3-319-99322-5_10">Approximate High-Level Synthesis of Custom Hardware</a>.
			</span><br />
			<span class="authors">
				Seogoo Lee and Andreas Gerstlauer.
			</span><br />
			<span class="venuetype">Chapter in </span><span class="venue">Approximate Circuits: Methodologies and CAD</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1109/TCAD.2018.2858384">DeepThings: Distributed Adaptive Deep Learning Inference on Resource-Constrained IoT Edge Clusters</a>.
			</span><br />
			<span class="authors">
				Zhuoran Zhao, Kamyar Mirzazad Barijough, and Andreas Gerstlauer.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems 37(11)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://www.vldb.org/pvldb/vol12/p154-song.pdf">Start late or finish early: a distributed graph processing system with redundancy reduction</a>.
			</span><br />
			<span class="authors">
				Shuang Song, Xu Liu, Qinzhe Wu, Andreas Gerstlauer, Tao Li, and Lizy K John.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the VLDB Endowment 12(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://users.ece.utexas.edu/~gerstl/publications/iccd18.ac.pdf">Trading Off Temperature Guardbands via Adaptive Approximations</a>.
			</span><br />
			<span class="authors">
				Behzad Boroujerdian, Hussam Amrouch, J{\"o}rg Henkel, and Andreas Gerstlauer.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE 36th International Conference on Computer Design (ICCD)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1109/LES.2017.2764542">Data-dependent loop approximations for performance-quality driven high-level synthesis</a>.
			</span><br />
			<span class="authors">
				Seogoo Lee and Andreas Gerstlauer.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Embedded Systems Letters 10(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1145/3177865">Learning-Based, Fine-Grain Power Modeling of System-Level Hardware IPs</a>.
			</span><br />
			<span class="authors">
				Dongwook Lee and Andreas Gerstlauer.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Transactions on Design Automation of Electronic Systems (TODAES) 23(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
