---
layout: default
---

<br>

{% if page.background %}
    <h2> Project Background </h2>
    <div style="background-color: #e9ecef; padding: 10px; border: 1px solid gray;" align="justify"> 
    {{ page.background }}
    </div>
    <br>
{% endif %}

{% if page.overview %}
    <h2> Project Overview </h2>
    <div style="overflow:auto">
        {% if page.overview.image %}
           <img src="{{ page.overview.image }}" alt="overview_img" width="400" style="float: left; margin-right: 20px; margin-bottom: 15px"/>
        {% else %}
           <img src="https://t3.ftcdn.net/jpg/00/80/73/10/240_F_80731064_fe6wouwQAgdkHFiC8iiIFUCcpJAZcn08.jpg" alt="overview_img" width="400" style="float: left; margin-right: 20px; margin-bottom: 15px"/>
        {% endif %}
    <div align="justify"> {{ page.overview.text }} </div>
    </div>
    <br>
{% endif %}

{% if page.outcomes %}
    <h2> Project Outcomes </h2>
    <table border="1">
        {% for outcome in page.outcomes %}
            <tr>
            <td>
                {% if outcome.image %}
                    <img src="{{ outcome.image }}" alt="outcome_img" width="400" style="margin:20px 20px"/>
                {% else %}
                    <img src="https://cdn-images-1.medium.com/max/1600/1*_cKZaywKnQb1QEH-ILifJw.jpeg" alt="outcome_img" width="400" style="margin:20px 20px"/>
                {% endif %}
            </td>
            <td>
            <p align="justify" style="padding: 10px"> <b> {{ outcome.title }} </b> {{ outcome.text }} </p>
                {% if outcome.publications %}
                    <ul>
                        {% for paper in outcome.publications %}
                            <li> 
                            {{ paper.title }}
                                {% if paper.pdf %}
                                    [<a href="{{ paper.pdf  }}"><img src="/img/icons/pdf.png" title="PDF" width=20"/>pdf</a>]
                                {% endif %}                                
                                {% if paper.slides %}
                                    [<a href="{{ paper.slides }}"> <img src="/img/icons/slides.png" title="Slides" width=20"/>slides</a>]
                                {% endif %}                               
                                {% if paper.poster %}
                                    [<a href="{{ paper.poster }}"> <img src="/img/icons/poster.png" title="Poster" width=20"/>poster</a>]
                                {% endif %}                               
                                {% if paper.code %}
                                    [<a href="{{ paper.code }}"> <img src="/img/icons/code.png" title="Code" width=20"/>code</a>]
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
            </tr>
        {% endfor %}
    </table>
    <br>
{% endif %}

{% if page.releases %}
    <h2> Releases </h2>
    <ul>
       {% for release in page.releases %}
           <li>
           <a href="{{release.link}}">{{release.title}}</a>
           </li>
       {% endfor %}
    </ul>
    <br>
{% endif %}

{% if page.publications %}
    <h2> Selected Publications </h2>
    <ul>
        {% for paper in page.publications %}
            <li> 
            {{ paper.title }} 
                {% if paper.link %}
                    [<a href="{{ paper.link }}"> <img src="/img/icons/pdf.png" title="PDF" width=20"/>pdf</a>]
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <br>
{% endif %}

<h2> People </h2>
<section class="people project-people">
    {% for uname in page.people %}
        {% assign person = site.data.people[uname] %}
        {% include person.html person=person image=true%}
    {% endfor %}    
</section>

{% if page.funding %}
    <h2> Funding Sources </h2>
    <table>   
        {% for source in page.funding %}
            <tr>
                <td>
                    {% if source.image %}
                        <img src="{{ source.image }}" alt="funding_img" width="50" style="margin:10px 10px"/>
                    {% endif %}
                </td>
                <td> <a href="{{ source.link }}" > {{ source.name }} </a> </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
<br><br>
